@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");


/*aqui los estilos funcionaban mejor*/
.register-card {
    width: 600px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.card-text {
    margin-top: 20px;
}